# Binance API Configuration
BINANCE_API_KEY=gXdeG9XPTBWlgG61uQxgMPojWqFTiQo9pCBQlvIqt1cKDVC9WlTlxlc1D1sJHHLt
BINANCE_API_SECRET=SWpV7Y77IhF0Da4plubMVOMILnpWY9Qd2AOLi2D1Qp4oBe3tuguXUkjPdQ527UkS

# MetaTrader5 Configuration (optional)
# MT5_LOGIN=your_mt5_login
# MT5_PASSWORD=your_mt5_password
# MT5_SERVER=your_mt5_server
